body {
  font-family: "Calistoga", serif;
  text-align: center;
  background-image: url(./img/westernTown.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

#top {
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 25px;
}

.defaultStyle {
  font-family: "Calistoga", serif;
  font-size: 20px;
  background-color: rgb(147, 82, 20);
  border-radius: 1rem;
  border: double gold 3px;
  padding: 8px;
  margin: 5px;
  transition: 0.3s;
}

.weaponStyle {
  width: 200px;
  height: 200px;
  margin: 30px;
  transition: 0.3s;
}

.weaponStyle:hover {
  cursor: pointer;
  width: 220px;
  height: 220px;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s;
}

.greenText {
  color: rgb(0, 113, 0);
}

.redText {
  color: rgb(152, 0, 0);
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#headingBox {
  width: 300px;
  height: 50px;
  margin: 0px;
  padding: 5px 25px 18px;
  border-radius: 1rem;
  border: double gold 3px;
  background-color: rgb(147, 82, 20);
}

#speakerIcon {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

#speakerIcon:hover {
  width: 40px;
  transition: 0.3s;
}
